body {
    background-image: url("./images/headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
}

#nav-bar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 30px 90px;
    padding: 0 100px;
    color: white;
}

#nav-bar ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#nav-bar ul li{
    list-style-type: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 12;
}

#nav-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 
#headphone-h1{
    font-size: 20px;
    margin: 12px;
}

#headphone-img{
    height: 35px;
    width: 35px;
}

#headphone-home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-top: 330px;
}

#home-h3{
    font-size: 32px;
    margin-bottom: -10px;
}

#home-p{
    font-size: 16px;
    margin-bottom: 10px;
}

#home-button{
    margin-top: 40px;
    width: 162px;
    height: 44px;
    border-radius: 40px;
    background-color: #FF6565;
    border-style: none;
    color: white;
    font-weight: bold;
}

#p-container {
    margin: 60px 550px;
    width: 637px;
}

#p-container p{
    line-height: 26px;
    font-size: 16px;
}