@font-face{
    font-family: Source Sans Pro;
    src: url(./SourceSansPro-Bold.otf)
}

body{
    background-image: url(./Object.png);
    background-repeat: no-repeat;
    font-family: Source Sans Pro;
    color:#ffffff;
}

header{
    display: flex;
    width: 100%;
    top: 0;
    position: fixed;
    padding-inline-start: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 30px 80px 30px 80px;
    margin-left: 0;
}

nav ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

nav ul li{
    list-style-type: none;
    color: white;
    font-size: 12px;
    padding: 10px;
    display: inline-block;
    margin: 0 5px;
}

header img{
    width: 167px;
    margin: 0;
    padding: 0;
}

#quote {
    background-color: C271FF;
    color: white;
    flex-direction: row;
    display: block;
}

a:link,
a:hover,
a:visited,
a:active{
    color: white;
    text-decoration: none;
}

/*main{
    display: flex;
}*/

#home-pg{
    display: inline-block;
    flex-wrap: wrap;
    
}

#content{
    text-align: center;
    height: 100vw;
    width: 100%;
}

#content h1{
    font-size: 120px;
    margin-top: 210px;
    margin-bottom: 0;
    margin-left: 150px;
    color: #ffffff;
}

.smigh {
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0;
    padding-top:0;
    margin-left: 45px;
}

#register{
    color:#ffffff;
    text-align: center;
    border: #C271FF;
    border-radius: 42px;
    background-color: #C271FF;
    box-shadow: none;
    font-family: Source Sans Pro;
    margin-top: 30px;
    margin-left: 40px;
    width: 162px;
    height: 44px;
}

#pros{
    margin-top: 185px;
}

#pros h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 60px;
}

#proDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#div1, 
#div2,
#div3,
#div4{
    display: flex-box;
    flex-direction: column;
    text-align: center;
}

.proPic {
    width: 150px;
    height: 150px;
}

.proName{
    margin-bottom: 10px;
}

.proAwd{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
}